[submodule "GoogleCloudPlatform"]
	path = GoogleCloudPlatform
	url = https://github.com/GoogleCloudPlatform/python-docs-samples.git
[submodule "DialogFlow"]
	path = DialogFlow
	url = https://github.com/dialogflow/dialogflow-python-client.git
[submodule "PocketSphinx-Python"]
	path = PocketSphinx-Python
	url = https://github.com/cmusphinx/pocketsphinx-python.git
